.html {
  scroll-behavior: smooth;
}

.section-3 {
  position: absolute;
  z-index: 10;
  width: 100%;
  background: linear-gradient(to bottom, #727f71, #707b6f, #FAF9F6);
  height: 1000px;
  top: 1000px;
  transition: all .3 ease-in-out;
  background-repeat: no-repeat;
}
.section-4 {
  position: absolute;
  z-index: 10;
  width: 100%;
  background-color: #FAF9F6;
  height: 2000px;
  top: 2000px;
  transition: all .3 ease-in-out;
  background-repeat: no-repeat;
}

.abt-background {
    height: 100%;
    width: 100%;
    top: 0;
    margin: 0px;
    padding: 0px;
    position: fixed;
    z-index: -1;
    background-color: #727f71;
    background-size: cover;
    background-repeat: no-repeat;
    scrollbar-width: none; 
    -ms-overflow-style: none;
}

.name1 {
    display: block;
    font-family: 'Playfair Display';
    font-weight: 150;
    font-size: 700%;
    letter-spacing: 3px;
    text-shadow: 4px 3px 5px #00000085;
    color: white;
    user-select: none;
    position: relative;
    font-weight: 0.2;
    z-index: 9;
    width: 100%;
    height:fit-content;
    transition: transform 2s ease-in-out;
    -webkit-transition: transform 2s ease-in-out;
    opacity: 0; 
    animation: go-up 1s forwards;
    font-weight: bold;
    background: url('leaves1.jpg')  no-repeat center center;
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.name1 { animation-delay: .3s; }



  
.img-scrl-container {
    width: 100%;
    height: 500px;
    overflow: hidden; 
    justify-content: flex-start;
    background-color: #FAF9F6;
    position: relative;
    z-index: 8;
    box-shadow: 0px 0px 50px 20px rgba(6, 39, 0, 0.294);
    margin-top: 0;
  }

.img-scrl {
    display: flex;
    width: fit-content;
    height: 100%;
    gap: 2%;
    display: flex;
    overflow-x: auto;
    scroll-behavior:auto;
    padding: 5%;
  }
  
.img {
    width: auto; 
    height: 280px; 
    flex: 0 0 auto;
    border-radius: 60px;
    box-shadow: inset 0px 0px 50px 30px rgba(0, 0, 0, 0.8);
  }
  
.text {
  z-index:9;
  position: relative;
  margin-top: 5%;
  font-family:'barlow condensed';
  font-weight: 100;
  font-size: 20px;
}