.html {
  scroll-behavior: smooth;
}

.name1 {
  display: block;
  font-family: 'Playfair Display';
  font-weight: 150;
  font-size: 700%;
  letter-spacing: 3px;
  text-shadow: 4px 3px 5px #00000085;
  text-align:center;
  color: white;
  user-select: none;
  position: relative;
  margin-top: -200px;
  font-weight: 0.2;
  z-index: 20;
  width: 100%;
  height:fit-content;
  transition: transform 2s ease-in-out;
  -webkit-transition: transform 2s ease-in-out;
  opacity: 0; 
  animation: go-up 1s forwards;
  font-weight: bold;
}


.section-3 {
  position: absolute;
  z-index: 10;
  width: 100%;
  background: linear-gradient(to bottom, #ede4d3, #e9e2d5, #faf7ed);
  height: 700px;
  top: 490px;
  transition: all .3 ease-in-out;
  background-repeat: no-repeat;
}
.section-4 {
  position: absolute;
  z-index: 10;
  width: 100%;
  background-color: #faf7ed;
  height: 2000px;
  top: 1170px;
  transition: all .3 ease-in-out;
  background-repeat: no-repeat;
}

.abt-background {
    height: 100%;
    width: 100%;
    top: 0;
    margin: 0px;
    padding: 0px;
    position: fixed;
    z-index: -1;
    background-color: #ede4d3;
    background-size: cover;
    background-repeat: no-repeat;
    scrollbar-width: none; 
    -ms-overflow-style: none;
}

.name1 {
    display: block;
    font-family: 'Playfair Display';
    font-weight: 150;
    font-size: 700%;
    letter-spacing: 3px;
    text-shadow: 4px 3px 5px #00000085;
    color: white;
    user-select: none;
    position: relative;
    font-weight: 0.2;
    z-index: 9;
    width: 100%;
    height:fit-content;
    transition: transform 2s ease-in-out;
    -webkit-transition: transform 2s ease-in-out;
    opacity: 0; 
    animation: go-up 1s forwards;
    font-weight: bold;
    background: url('leaves1.jpg')  no-repeat center center;
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.name1 { animation-delay: .3s; }

#creators {
  font-family: 'playfair display';
  z-index: 100;
  position: absolute;
  color:black;
  font-weight: 5000000;
  display: block;
  font-size: 70px;
  z-index: 7;
  width: max-content;
  height: 570px; 
  margin-left: 50vw;
  top: 880px;
  left: -25%;
  transform: translateX(-50%);
  filter: drop-shadow(-2px 5px 2px rgba(0, 0, 0, 0.253));
  opacity: 0;
  transition: transform 2s ease-in-out;
  -webkit-transition: transform 2s ease-in-out;
  animation: move-up 1s forwards;
}

@keyframes move-up {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.img-scrl-container {
  width: 100%;
  height: 270px;              
  display: flex;              
  justify-content: center;    
  align-items: center;        
  overflow-x: auto;           
  overflow-y: hidden;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #faf7ed, #faf7ed, #faf7ed);
  margin: 0;
  position: relative;
  z-index: 173;
  box-sizing: border-box;
  user-select: none;
}

.img-scrl {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;         
  gap: 2vw;                  
  margin: 0;
  padding: 0;               
  box-sizing: border-box;
  transform: translateY(33px);
  z-index: 173;
}

.img {
  flex: 0 0 auto;
  height: clamp(90px, 25vw, 150px);
  width: auto;                
  border-radius: 60px;
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
  user-select: none;
  -webkit-user-drag: none;
  z-index: 173;
}


.img:hover {
  transform: scale(1.085) translateY(1.5px);
}

.scrl-text {
  display: inline-block; 
  flex-shrink: 0;        
  white-space: nowrap;   
  line-height: 1.4;
  font-family: "poppins";
  font-size: 15px;
  max-width: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-width 0.5s ease-in-out, opacity 0.5s ease-in-out;
  background-color: #9a640032;
  border-radius: 6px;
  padding: 6px;
  width: fit-content;
  height: fit-content;
}


.scrl-text.show {
  opacity: 1;

}


