.abt-background {
    height: 100%;
    width: 100%;
    top: 0;
    margin: 0px;
    padding: 0px;
    position: fixed;
    z-index: -1;
    background-color: #727f71;
    background-size: cover;
    background-repeat: no-repeat;
    scrollbar-width: none; 
    -ms-overflow-style: none;
}

.name1 {
    display: block;
    font-family: 'Playfair Display';
    font-weight: 150;
    font-size: 700%;
    letter-spacing: 3px;
    text-shadow: 4px 3px 5px #00000085;
    color: white;
    user-select: none;
    position: relative;
    font-weight: 0.2;
    z-index: 9;
    width: 100%;
    transition: transform 2s ease-in-out;
    -webkit-transition: transform 2s ease-in-out;
    opacity: 0; 
    animation: go-up 1s forwards;
    font-weight: bold;
    /*background: url('leaves1.jpg')  no-repeat center center;
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
}

.name1 { animation-delay: .3s; }



  
.img-scrl-container {
    width: 100%;
    height: 100vh;
    overflow: hidden; 
    margin-left: 5%;
    margin-top: 10%;
  }

.img-scrl {
    display: flex;
    width: 400%; 
    height: 100%;
    gap: 5%;
  }
  
.img {
    width: auto; 
    height: 30%; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    background-color: lightcoral;
    text-align: center;
  }
  