/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.wrapper {
  width: 450px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
}

.wrapper header {
  display: flex;
  align-items: center;
  padding: 25px 30px 10px;
  justify-content: space-between;
}

header .icons {
  display: flex;
}

header .icons span {
  height: 38px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  color: #878787;
  text-align: center;
  line-height: 38px;
  font-size: 1.9rem;
  user-select: none;
  border-radius: 50%;
}

.icons span:last-child {
  margin-right: -10px;
}

header .icons span:hover {
  background: #f2f2f2;
}

header .current-date {
  font-size: 1.45rem;
  font-weight: 500;
  color: black;
}

.calendar {
  padding: 20px;
}

.calendar ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}

.calendar .days {
  margin-bottom: 20px;
}

.calendar li {
  color: #333;
  width: calc(100% / 7);
  font-size: 1.07rem;
}

.calendar .weeks li {
  font-weight: 500;
  cursor: default;
}

.calendar .days li {
  z-index: 1;
  cursor: pointer;
  position: relative;
  margin-top: 30px;
}

.days li.inactive {
  color: #aaa;
}

.days li.active {
  color: #fff;
}

.days li::before {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  height: 40px;
  width: 40px;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: background 0.3s ease;
}

.days li.active::before {
  background: #9B59B6; 
}

.days li:not(.active):hover::before {
  background: rgba(128, 128, 128, 0.3); 
}

.days li.active:hover::before {
  background: #9B59B6; 
}

.days li.selected::before {
  background: #9B59B6; 
}

#confirmation-box {
  display: none; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(230, 225, 231);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 100;
  color:black;
}
#confirmation-box button {
    margin: 10px;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#confirm-btn {
    background: #6a0dad;
    color: white;
}

#cancel-btn {
    background: #aaa;
    color: white;
}



.goback-button {
  display: inline-block;
  margin-right: 10px;
  padding: 12px 24px;
  font-size: 20px;
  font-weight: bold;
  font-family: "Barlow Condensed", sans-serif;
  color: white;
  background-color: #d33232;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.goback-button:hover {
  background-color: #ad1d1d;
  transform: scale(1.05);
}

.goback-button:active {
  background-color: #a01f1f;
  transform: scale(0.98);
}

/* Form */
.form-wrapper {
  width: 450px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
  padding: 20px;
}


.form-title {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}


.form-group {
  margin-bottom: 15px;
}

.form-label {
  font-weight: 500;
  display: block;
  margin-bottom: 5px;
  color: #555;
}

.form-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  transition: 0.3s;
}

.form-input:focus {
  border-color: #9B59B6;
  outline: none;
  box-shadow: 0 0 5px rgba(155, 89, 182, 0.5);
}

/* Submit Button */
.form-button {
  width: 100%;
  padding: 12px;
  background: #9B59B6;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}

.form-button:hover {
  background: #8845a3;
}

/* Number Input */
.number_input-wrapper {
  display: flex;
  gap: 20px; 
  margin-bottom: 20px;
}

.number_input-label {
  font-weight: 500;
  display: block;
  margin-bottom: 5px;
  color: #555;
}

.number_input-group {
  width: 45%; 
}

/* Input Fields */
.number_input-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  transition: 0.3s;
  
}
.number_input-input[type=number]::-webkit-inner-spin-button {
  opacity: 1
}

.number_input-input:focus {
  border-color: #9B59B6;
  outline: none;
  box-shadow: 0 0 5px rgba(155, 89, 182, 0.5);
}

/* Dropdown */
.dropdown-wrapper {
  display: flex;
  gap: 20px; 
  margin-bottom: 20px;
}


.dropdown-label {
  font-weight: 500;
  display: block;
  margin-bottom: 5px;
  color: #555;
}


.dropdown-group {
  width: 45%; 
}


.dropdown-select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  transition: 0.3s;
  background: white;
  appearance: none;
  cursor: pointer;
}

.dropdown-select:focus {
  border-color: #9B59B6;
  outline: none;
  box-shadow: 0 0 5px rgba(155, 89, 182, 0.5);
}


/* Responsive */
@media (max-width: 500px) {
  .number_input-wrapper {
    width: 90%;
  }
}

@media (max-width: 500px) {
  .form-wrapper {
    width: 90%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.carryout-wrapper {
  width: 450px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.12);
  padding: 20px;
  margin: 20px auto;
  text-align: center;
}

.menu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}



.menu-item:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.form-button {
  width: 100%;
  padding: 12px;
  background: #9B59B6;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 10px;
}

.form-button:hover {
  background: #8845a3;
}

#cart-container {
  display: flex;
  width: 90vw;
  background: #f5f5f5;
  padding: 15px;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  right: 20px;  
  top: 100px;    
  z-index: 10;
  flex-direction:column;
  margin-top: 0;
  text-align: center;
}

#cart-container-h1 {
  display: flex;
  width: 90vw;
  background: #f5f5f5;
  padding: 15px;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  right: 20px;  
  top: 100px;    
  z-index: 10;
  flex-direction:column;
  margin-top: 5vw;
  text-align: center;
}



#cart-list {
  list-style: none;
  padding: 0;
  flex-grow: 1; /* Makes sure items push down instead of moving the title */
  overflow-y: auto;
}

#cart-list li {
  padding: 8px;
  border-bottom: 1px solid #ccc;
  text-align: center;
}

#submit-order {
  display: block;
  width: 100%;
  background: #9B59B6;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 10px;
}

#submit-order:hover {
  background: #8845a3;
}

#cart-title {
  font-family: "Barlow Condensed";
  font-size: 40px;
  width: 50%;
  text-align: left;
  margin-top: 20px;
  margin-left: 50px;
}
