
* {
    margin: 0;
    padding-left: 0px;
    box-sizing: border-box;
}

html {
    height: 100%;
    margin: 0;
    padding: 0;

}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.background {
    height: 100%;
    width: 100%;
    top: 0;
    margin: 0px;
    padding: 0px;
    position: fixed;
    z-index: -1;
    background-image: url(https://i.postimg.cc/2SzYGNSv/lightbeige.avif);
    background-size: cover;
    background-repeat: no-repeat;
}

body {
    padding-top: 60px;
    min-height: 100vh;
    max-height: 100vh;
}

.nav-bar {
    display: flex;
    flex-direction: row; 
    align-items: center; 
    position: fixed !important;
    top: 0;
    left: 0;
    height: 60px; 
    width: 100%; 
    padding: 50px 30px;
    gap: 50px;
    z-index: 1000;
    transition: top 0.3s ease-in-out;
}


.nav-bar.hide-nav {
    top: -300px;
}

.nav-link {
    background-color: transparent;
    border: none;
    padding: 9px 20px; 
    border-radius: 0px;
    cursor: pointer;
    font-family: "Barlow Condensed";
    font-size: 20px;
    width: 100%; 
    text-align: left; 
    user-select: none;
    margin-bottom: 10px;
    transition: opacity .1s ease-in-out;
    color: black;
    border: 2px solid black; 
    padding: 5px 10px; 
    display: inline-block;
}

.navlink-container {
    display: flex;
    flex-direction: row; 
    gap: 20px;
    align-items: center;
    justify-content: flex-end; 
    width: 100%; 
}

.navlink-container form {
    display: flex; 
}


#logo {
    top: 20px;
    position: fixed;
    width: 35px;
    aspect-ratio: 1/1;
    height: auto;
    user-select: none;
    z-index: 110000;
    -webkit-transition: box-shadow .3s -webkit-transform 1s;
    cursor: pointer;
    opacity: 50%;
}

#logo.hover {
    cursor: pointer;
    box-shadow: 0 0 20px 5px rgba(216, 127, 2, 0.341);
}

.hover-rotate {
    -webkit-transition: -webkit-transform 1s;
}

.hover-rotate:hover {
    -webkit-transform: rotate(540deg);
}

.nav-link:hover {
    opacity: 50%;
}


.heading {
    display: flex;
    font-family: 'Barlow Condensed';
    font-weight: 100;
    font-size: 200%;
    letter-spacing: 2px;
    text-shadow: 4px 2px 5px #ffffff98;
    color: rgb(0, 0, 0);
    user-select: none;
    top:20px;
    left: 40px;
    position: fixed;
}

.img-group {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    gap: 10%; 
    padding-right: 10%;
    padding-left: 10%; 
}

.post-img {
    border-radius: 50%;
    aspect-ratio: 1/1;
    width: 20%;
    height: auto;
    -webkit-transition: transform 2s ease-in-out, box-shadow 1s;
    opacity: 0; 
    transform: translateY(50px); 
    animation: enterimages 1s forwards;
    box-shadow: 0 0 20px 5px rgba(216, 127, 2, 0.341);
}

.post-img:nth-child(1) { animation-delay: 0.3s; }
.post-img:nth-child(2) { animation-delay: .6s; }
.post-img:nth-child(3) { animation-delay: .9s; }
.post-img:nth-child(4) { animation-delay: 1.2s; }

@keyframes enterimages {
    from {
        opacity: 0;
        transform: translateY(50px); 
    }
    to {
        opacity: 1;
        transform: translateY(0); 
    }
}


/* imported colors from colormagic.app  */
.color-1 {
    color: #c8c2b6;
}
.color-2 {
    color: #ab8b78;
}
.color-3 {
    color: #727f71;
}
.color-4 {
    color: #72978d;
}
.color-5 {
    color: #cebc9c;
}

:root {
    --color-1: #c8c2b6;
    --color-2: #ab8b78;
    --color-3: #727f71;
    --color-4: #72978d;
    --color-5: #cebc9c;
}

    .yap {
        position: absolute;
        top: 1000px;
        left: 0px;
        right: 0px;
        align-items: center;
        padding: 20%;
        color: beige;
        font-weight:100;
    }

/* reservePage ids and classes */

#tour {
display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.reserve-container {
    display: flex;
    flex-direction: column;
    margin: 0px;
    position: relative;
    padding-left: 150px;
    color: beige;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
    color: beige;
  }
  
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    color: beige;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 4px;
  }
  
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  .container input:checked ~ .checkmark {
    background-color: #727f71;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

 
