
* {
    margin: 0;
    padding-left: 0px;
    box-sizing: border-box;
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
    background: radial-gradient(at top left, #5b250a,#2c1002, #000000);
    overflow-x: hidden;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.background {
    height: 100%;
    width: 100%;
    top: 0;
    margin: 0px;
    padding: 0px;
    background: radial-gradient(at top left, #5b250a,#2c1002, #000000);
    position: fixed;
    z-index: -1;
}

body {
    padding-top: 60px;
    min-height: 100vh;
    max-height: 100vh;
}

.nav-bar {
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    position: fixed !important;
    top: 0px;
    left: 0px;
    height: 100%; 
    width: 140px; 
    gap: 30px;
    background-color: #FFD700;
    padding: 30px 0;
    box-shadow: 4px 0px 8px 0 rgba(0, 0, 0, 0.2), 6px 0px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 1000;
    transition: left .3s ease-in-out;

}

.nav-bar.show-nav {
    left: -104px;
}

.nav-link {
    background-color: transparent;
    color: beige;
    border: none;
    padding: 10px 20px; 
    border-radius: 30px;
    cursor: pointer;
    font-family: "sanchezFont";
    font-size: 16px;
    font-weight: lighter;
    width: 100%; 
    text-align: left; 
    user-select: none;
    margin-bottom: 10px;
}

.navlink-container {
    margin-top: 60px;
}

#logo {
    top: 20px;
    position: fixed;
    width: 35px;
    aspect-ratio: 1/1;
    height: auto;
    user-select: none;
    z-index: 110000;
    -webkit-transition: box-shadow .3s -webkit-transform 1s;
    cursor: pointer;
    opacity: 50%;
}

#logo.hover {
    cursor: pointer;
    box-shadow: 0 0 20px 5px rgba(216, 127, 2, 0.341);
}

.hover-rotate {
    -webkit-transition: -webkit-transform 1s;
}

.hover-rotate:hover {
    -webkit-transform: rotate(540deg);
}

.nav-link:hover {
    opacity: 50%;
}


.heading {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 90px;
    font-family: 'bambiFont';
    font-weight: 100;
    font-size: 300px;
    letter-spacing: 2px;
    text-shadow: 4px 2px 5px #d37e00a5;
    color: beige;
    user-select: none;
}

.img-group {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    gap: 10%; 
    padding-right: 10%;
    padding-left: 10%; 
}

.post-img {
    border-radius: 50%;
    aspect-ratio: 1/1;
    width: 20%;
    height: auto;
    -webkit-transition: transform 2s ease-in-out, box-shadow 1s;
    opacity: 0; 
    transform: translateY(50px); 
    animation: enterimages 1s forwards;
    box-shadow: 0 0 20px 5px rgba(216, 127, 2, 0.341);
}

.post-img:nth-child(1) { animation-delay: 0.3s; }
.post-img:nth-child(2) { animation-delay: .6s; }
.post-img:nth-child(3) { animation-delay: .9s; }
.post-img:nth-child(4) { animation-delay: 1.2s; }

@keyframes enterimages {
    from {
        opacity: 0;
        transform: translateY(50px); 
    }
    to {
        opacity: 1;
        transform: translateY(0); 
    }
}


@font-face {
    font-family: bambiFont;
    src: url(bambiFont.ttf);
}
@font-face {
    font-family: quattrocentoFont;
    src: url(Quattrocento-Regular.ttf);
}
@font-face {
    font-family: sanchezFont;
    src: url(Sanchez-Regular.ttf);
}
@font-face {
    font-family: sanchezItalicFont;
    src: url(Sanchez-Italic.ttf);
}

/* imported colors from colormagic.app  */
.color-1 {
    color: #c8c2b6;
}
.color-2 {
    color: #ab8b78;
}
.color-3 {
    color: #727f71;
}
.color-4 {
    color: #72978d;
}
.color-5 {
    color: #cebc9c;
}

:root {
    --color-1: #c8c2b6;
    --color-2: #ab8b78;
    --color-3: #727f71;
    --color-4: #72978d;
    --color-5: #cebc9c;
}

    .yap {
        position: absolute;
        top: 1000px;
        left: 0px;
        right: 0px;
        align-items: center;
        padding: 20%;
        color: beige;
        font-family: "bambiFont";
        font-weight:100;
    }

/* reservePage ids and classes */

#tour {
display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.reserve-container {
    display: flex;
    flex-direction: column;
    margin: 0px;
    position: relative;
    padding-left: 140px;
    color: beige;
    font-family:"sanchezFont"
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
    color: beige;
    font-family:"sanchezFont"
  }
  
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    color: beige;
    font-family:"sanchezFont"
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 4px;
  }
  
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  .container input:checked ~ .checkmark {
    background-color: #727f71;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

 
