* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: antiquewhite;
}

.nav-bar {
    display: flex; 
    align-items: center; 
    justify-content: left; 
    gap: 10px; 
    background-color: #315e26; 
    padding: 10px; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.nav-link {
    background-color: #2a4f32;
    color: beige;
    border: none;
    height: auto;
    width: 120px;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    font-weight: lighter;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-transition: box-shadow .3s;

}

#logo {
    width: 35px;
    aspect-ratio: 1/1;
    height: auto;
}

.hover-rotate {
    -webkit-transition: -webkit-transform 1s;

}

.hover-rotate:hover{
    -webkit-transform: rotate(540deg);
    
    
}

.nav-link:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
